body{
  margin: 0;
  padding: 0;
  background-color: #F1F2F2;
}

.head{
  height: 80px;
  width: 100%;
  margin: 0 auto;
  background-color:#22167A;
  padding: 20px 25% 20px 25%;
  position: relative;
}
#logo{
  width: 70px;
  height: 35px;
  float: left;
  margin-right: 25%;
}
#input{
  width:35%;
  margin-top:3px;
}
.form01{
  border-radius: 10px 0px 0px 10px;
  border:1px solid #4331A9;
  background-color:#4331A9;
  padding: 7px;
  height: 35px;
  width: calc(100% - 35px);
}
.sch_btn{
  width:35px;
  height:34px;
  background-color:#4331A9;
  border:0;
  height: 35px;
  border-radius: 0px 10px 10px 0px;
  position: absolute;
}
.glyphicon-search{
  width:15px;
  height:15px;
  color:white;
  margin:0px;
}

.bg{
  width: 100%;
  height: 397.345px;
  background-color: #4331A9;
}
#menu{
  padding-top: 123.846px;
  padding-bottom: 137.643px;
  width: 860px;
}
.linc_img{
  width: 220px;
  height: 135.856px;
  display: inline-block;
}
#linc_second{
  display: inline-block;
  position: absolute;
  width: 250px;
  padding: 4px 0px 4px 38.829px;
}
.glyphicon{
  color: white;
  margin-right: 10px;
}
.linc_name{
  color: white;
  font-size: 13px;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
}
#a_line{
  color:white;
  margin-right:15px;
  text-decoration: none;
}

#linc_third{
  display: inline-block;
  float: right;
  width: 110px;
  padding-top: 5px;
}
.btn_style{
  border: 1px solid white;
  background-color: #4331A9;
  width: 118.696px;
  height: 37.2853px;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

#menu_list{
  padding-top:50px;
  width: 860px;
  padding-bottom: 50px;
}
.dropdown{
  background-color: #F1F2F2;
  display: inline-block;
  padding-right: 15px;
}
#dropdownMenu1{
  border: 1px solid #4331A9;
  background-color: #F1F2F2;
  height: 35px;
  padding-left: 10px;
  text-align: left;
  width: 245.447px;
  color: #4331A9;
}
.caret{
  color: #4331A9;
  margin-left: 80%;
}

.dropdown-menu{
  width: 245.447px;
}

#input2{
  width: 245.447px;
  float: right;
}
.form-control{
  border: 1px solid #4331A9;
  border-radius: 0px;
  height: 35px;
  background-color: #F1F2F2;
}
.btn{
  border: 1px solid #4331A9;
  border-radius: 0px;
  background-color: #4331A9;
  color: white;
}

/*포스터 내용들*/

#posters{
  width: 860px;
  border-right: hidden;
  border-left:none;
  border-top:none;
  border-bottom:none;
}

.poster{
  background-color: #4331A9;
  width: 193.596px;
  height: 300.062px;
  display: inline-block;
  margin-right: 18px;
  margin-bottom: 18px;
}

.poster_name{
  background-color:#22167A;
  border: 1px solid #22167A;
  display: inline-block;
  width: 191.5px;
  height: 32.169px;
  padding : 5px;
}

.person_icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.poster_img{
  width: 191.5px;
  height: 158px;
}

.info{
  width: 192px;
  height: 108.172px;
  border: 1px solid white;
  background-color: white;
}
.contents{
  padding: 12px 8px 20px 8px;
  font-weight: bold;
  font-size: 5px;
}
